<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.mybatis.mapper.CategoryMapper">
    <resultMap id="resultMap" type="com.seven.mybatis.vo.Category">
        <id column="id" property="id" javaType="String" jdbcType="VARCHAR"/>
        <result column="sn" property="sn" javaType="Boolean" jdbcType="VARCHAR" typeHandler="com.seven.mybatis.typehandler.MyBooleanTypeHandler"/>
        <result column="name" property="name" javaType="com.seven.mybatis.enums.TypeEnum" jdbcType="VARCHAR" typeHandler="com.seven.mybatis.typehandler.EnumHandler"/>
    </resultMap>
    <insert id="insertCategory">
        insert into category (id, sn, name) values (#{category.id}, #{category.sn, typeHandler=com.seven.mybatis.typehandler.MyBooleanTypeHandler}, #{category.name, typeHandler=com.seven.mybatis.typehandler.EnumHandler})
    </insert>
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <select id="selectCategoryById" resultMap="resultMap">
        select * from category t1
        <where>
            <if test="i!= null">
                t1.id = #{i}
            </if>
        </where>
    </select>
    <select id="pagination" resultType="com.seven.mybatis.vo.Category">
        select id, name from category limit #{offset}, #{limit}
    </select>
    <!--<select id="selectMap" resultMap="resMap">-->
    <!--    select id, name from category-->
    <!--</select>-->
    <!--<resultMap id="resMap" type="com.seven.mybatis.vo.Material">-->
    <!--    <result property="materialName" column="name"/>-->
    <!--    <collection property="category" javaType="java.util.List" ofType="map">-->
    <!--        <result property="sn" column="sn"/>-->
    <!--        <result property="name" column="name"/>-->
    <!--    </collection>-->
    <!--</resultMap>-->
</mapper>