<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--<springProperty scope="context" name="appPort" source="server.port"/>-->

    <!--<property name="appName" value="mes-operation-service"></property>-->
    <!--<property name="logDir" value="${zetacloud_log_dir}/dmo/mes/mes-operation-service/${hostname}"></property>-->
    <!--	<property name="logPattern" value="%d{yy/MM/dd HH:mm:ss.SSS} %5level -&#45;&#45; [%thread] %-40logger{40} : %msg%n"></property>-->
    <!--<property name="maxHistory" value="168"></property>-->
    <!--<property name="maxFileSize" value="100MB"></property>-->
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%t]) %highlight(%-5p) %yellow(${PID:-}) %cyan(%-40.40logger{39}) : %green(%m%n)"/>
    <!--<contextName>${appName}</contextName>-->

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${logPattern}</Pattern>
        </encoder>
    </appender>

    <!--<appender name="fileDebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--        <level>debug</level>-->
    <!--    </filter>-->
    <!--    <file>${logDir}/${appName}-${appPort}-debug.log</file>-->
    <!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--        <fileNamePattern>${logDir}/archive/${appName}-${appPort}-debug.log.%d{yyyy-MM-dd-HH}.%i.gz</fileNamePattern>-->
    <!--        <maxHistory>${maxHistory}</maxHistory>-->
    <!--        <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
    <!--        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--            <maxFileSize>${maxFileSize}</maxFileSize>-->
    <!--        </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--    </rollingPolicy>-->
    <!--    <encoder>-->
    <!--        <Pattern>${logPattern}</Pattern>-->
    <!--    </encoder>-->
    <!--</appender>-->

    <!--<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--        <level>info</level>-->
    <!--    </filter>-->
    <!--    <file>${logDir}/${appName}-${appPort}.log</file>-->
    <!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--        <fileNamePattern>${logDir}/archive/${appName}-${appPort}.log.%d{yyyy-MM-dd-HH}.%i.gz</fileNamePattern>-->
    <!--        <maxHistory>${maxHistory}</maxHistory>-->
    <!--        <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
    <!--        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--            <maxFileSize>${maxFileSize}</maxFileSize>-->
    <!--        </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--    </rollingPolicy>-->
    <!--    <encoder>-->
    <!--        <Pattern>${logPattern}</Pattern>-->
    <!--    </encoder>-->
    <!--</appender>-->

    <!--<appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--        <level>error</level>-->
    <!--    </filter>-->
    <!--    <file>${logDir}/${appName}-${appPort}-err.log</file>-->
    <!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--        <fileNamePattern>${logDir}/archive/${appName}-${appPort}-err.log.%d{yyyy-MM-dd-HH}.%i.gz</fileNamePattern>-->
    <!--        <maxHistory>${maxHistory}</maxHistory>-->
    <!--        <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
    <!--        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--            <maxFileSize>${maxFileSize}</maxFileSize>-->
    <!--        </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--    </rollingPolicy>-->
    <!--    <encoder>-->
    <!--        <Pattern>${logPattern}</Pattern>-->
    <!--    </encoder>-->
    <!--</appender>-->

    <!--<springProfile name="dev">-->
    <!--    <logger name="cn.com.zetatech.cloud.dmo.mes.operation.service" additivity="false" level="debug">-->
    <!--        <appender-ref ref="consoleLog" />-->
    <!--        <appender-ref ref="fileDebugLog"/>-->
    <!--        <appender-ref ref="fileErrorLog" />-->
    <!--    </logger>-->

    <!--    <logger name="cn.com.zetatech.cloud.dmo.mes.operation.service" additivity="false" level="debug">-->
    <!--        <appender-ref ref="consoleLog" />-->
    <!--        <appender-ref ref="fileDebugLog"/>-->
    <!--        <appender-ref ref="fileErrorLog" />-->
    <!--    </logger>-->

    <!--    <root level="info">-->
    <!--        <appender-ref ref="consoleLog" />-->
    <!--        <appender-ref ref="fileInfoLog" />-->
    <!--        <appender-ref ref="fileErrorLog" />-->
    <!--    </root>-->
    <!--</springProfile>-->


</configuration>